/*@import "adwaita.css";*/
#panel {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
}
#panel .panel-button {
  color: #000000;
  margin: 0.1em;
}
#panel .panel-button * {
  color: #000000;
}
#panel .panel-button:hover {
  background-color: #000000;
  color: #ffffff;
}
#panel .panel-button:hover * {
  color: #ffffff;
}

#overviewGroup {
  background-color: #ffffff;
}

.workspace-background {
  background-color: #000000;
  border-radius: 25px;
  box-shadow: none;
  border: 2px solid #000000;
}

.screenshot-ui-panel, .workspace-switcher, .switcher-list, .resize-popup, .osd-monitor-label, .osd-window {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 999px;
  padding: 12px;
}

.search-section-content {
  background-color: #ffffff;
  border: 2px solid #000000;
}
.search-section-content * {
  color: #000000;
}

.list-search-result {
  background-color: #ffffff;
  border: 2px solid #000000;
}
.list-search-result * {
  color: #000000;
}

.search-entry {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}

.slider {
  -barlevel-height: 4px;
  -barlevel-background-color: #ffffff;
  -barlevel-border-width: 2px;
  -barlevel-border-color: #000000;
  -barlevel-active-background-color: #000000;
  -barlevel-active-border-color: #000000;
  -barlevel-overdrive-color: #646464;
  -barlevel-overdrive-border-color: #000000;
  -barlevel-overdrive-separator-width: 2px;
  -slider-handle-radius: 8px;
  -slider-handle-border-width: 2;
  -slider-handle-border-color: #000000;
}

.osd-window .level {
  -barlevel-border-width: 2px;
  -barlevel-border-color: #000000;
  -barlevel-background-color: #ffffff;
  -barlevel-active-background-color: #000000;
  -barlevel-overdrive-color: #646464;
  -barlevel-overdrive-separator-width: 2px;
}

.quick-menu-toggle .quick-toggle-arrow {
  background-color: #ffffff;
  color: #000000;
}

.quick-toggle-menu {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}
.quick-toggle-menu * {
  background-color: #ffffff;
}

.modal-dialog {
  color: #000000;
  background-color: #ffffff;
  border-radius: 11px;
  border: 2px solid #000000;
  box-shadow: none;
}

#LookingGlassDialog > #Toolbar .lg-toolbar-button, .app-folder-dialog .folder-name-container .edit-folder-button, .button, .icon-button {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
}

#LookingGlassDialog > #Toolbar .lg-toolbar-button:hover, .app-folder-dialog .folder-name-container .edit-folder-button:hover, .button:hover, .icon-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
}

#LookingGlassDialog > #Toolbar .lg-toolbar-button:checked, .app-folder-dialog .folder-name-container .edit-folder-button:checked, .button:checked, .icon-button:checked {
  background-color: #000000;
}

#LookingGlassDialog > #Toolbar .lg-toolbar-button:checked *, .app-folder-dialog .folder-name-container .edit-folder-button:checked *, .button:checked, .icon-button:checked * {
  color: #ffffff;
}

.popup-menu-content, .candidate-popup-content {
  color: #000000;
  border: 2px solid #000000;
  box-shadow: none;
  background-color: #ffffff;
}

.popup-sub-menu {
  background-color: #ffffff;
}

/* Notification Tray */
.message {
  border: 2px solid black;
  color: #000000;
  background-color: #ffffff;
}

.message * {
  color: #000000;
}

.message.notification-banner {
  box-shadow: none;
}

.datemenu-today-button {
  color: #000000;
}

/* Calendar */
.calendar .calendar-month-header .calendar-month-label {
  color: #000000;
}
.calendar .calendar-nonwork-day {
  color: #000000;
}
.calendar .calendar-today {
  background-color: #000000;
  color: #000000;
}
.calendar .calendar-week-number {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.events-button {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
}
.events-button * {
  color: #000000;
}

/* message Tray */
.world-clocks-button {
  box-shadow: none;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
}
.world-clocks-button .world-clocks-header, .world-clocks-button .world-clocks-time, .world-clocks-button .world-clocks-city, .world-clocks-button .world-clocks-timezone {
  color: #000000;
}

.weather-button {
  box-shadow: none;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
}
.weather-button .weather-header {
  color: #000000;
}
.weather-button .weather-forecast-time {
  color: #000000;
}

.icon-dropshadow {
  icon-shadow: none;
}

.window-caption {
  background-color: #000000;
}

/* Dash */
.dash-background {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}

.dash-item-container {
  color: #000000;
}

.dash-label {
  color: #ffffff;
  background-color: #000000;
}

.show-apps-icon {
  color: #000000;
}

.app-well-app-running-dot {
  background-color: #000000;
}

/* Icon Grid */
.overview-icon-with-label {
  color: #000000;
}

/* Keyboard */
#keyboard {
  background-color: #ffffff;
  box-shadow: none;
  border-top: 2px solid #000000;
}

#keyboard .keyboard-key {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}

.keyboard-key {
  box-shadow: none;
}

#keyboard .keyboard-key:active {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}

/*# sourceMappingURL=gnome-shell.css.map */
